In [5]:
import pandas as pd
import numpy as np
import datetime
import time
df=pd.read_csv("StudentDetails\StudentDetails.csv")       
col_names =  ['Id','Name','Date','Time']
attendance = pd.DataFrame(columns = col_names)
print(attendance)
ts = time.time()      
date = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d')
timeStamp = datetime.datetime.fromtimestamp(ts).strftime('%H:%M:%S')
Id=61
aa=df.loc[df['Id'] == Id]['Name'].values
tt=str(Id)+"-"+aa
print(len(attendance))
attendance.loc[len(attendance)] = [Id,aa,date,timeStamp]
print(attendance)

Empty DataFrame
Columns: [Id, Name, Date, Time]
Index: []
0
   Id     Name        Date      Time
0  61  [pawan]  2019-05-04  19:34:03

In [33]:
import sqlite3
import webbrowser
conn = sqlite3.connect('practice.db')

c = conn.cursor()

sql = """
DROP TABLE IF EXISTS users1;
CREATE TABLE users1 (
           id integer unique primary key autoincrement,
           departure datetime,
           route_id int
);
"""
c.executescript(sql)

In [34]:

import pandas as pd
from datetime import datetime

In [35]:

df = pd.DataFrame(
    [[1, datetime(2016, 9, 29, 0, 0) , 1]],
     columns=["id", "departure",  "route_id"])

In [36]:

df.to_sql("users",conn,if_exists='replace')

In [37]:
df = pd.read_sql_query("select * from users limit 5;", conn)
df

   index  id            departure  route_id
0      0   1  2016-09-29 00:00:00         1

In [44]:
c.execute('select * from users')
conn.commit()
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [49]:
import csv
import shutil
Id=12345
name="plk"
row = [Id , name]
with open('StudentDetails\StudentDetails.csv','a') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerow(row)
csvFile.close()

PermissionError: [Errno 13] Permission denied: 'StudentDetails\\StudentDetails.csv'

In [56]:
import csv
import os.path
from os import path
if(not path.exists('my2.csv')):
    with open('my2.csv','w') as newFile:
        newFileWriter=csv.writer(newFile)
        newFileWriter.writerow([3,'xxx'])
        newFileWriter.writerow([4,'yyy'])
        newFileWriter.writerow([5,'zzz'])
if(not path.exists('my1.csv')):
    with open('my1.csv','w') as newFile:
        newFileWriter=csv.writer(newFile)
        newFileWriter.writerow([3,'xxx'])
        newFileWriter.writerow([4,'yyy'])
        newFileWriter.writerow([5,'zzz'])
    
import csv
with open('my2.csv','a') as newFile:
    newFileWriter=csv.writer(newFile)
    with open('my1.csv', 'r') as f:
        reader = csv.reader(f)    
        for row in reader:
            newFileWriter.writerow(row)

In [57]:
import pandas as pd
atten=pd.DataFrame()
print(atten)

Empty DataFrame
Columns: []
Index: []

In [58]:
import csv
with open('commonFile1.csv','w') as newFile:
        newFileWriter=csv.writer(newFile)
        fieldnames = ('Floor', 'Use', 'Square Footage', 'Price', 'RoomID', 'Capacity')
        writer = csv.DictWriter(newFile, fieldnames=fieldnames)
        writer.writeheader()

In [61]:
import time
import datetime
ts = time.time()      
date = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d')
timeStamp = datetime.datetime.fromtimestamp(ts).strftime('%H:%M:%S')
print(ts)
print(date)
print(timeStamp)

1557038276.7674396
2019-05-05
12:07:56

In [63]:
import pandas as pd
import numpy as np
import csv
df=pd.read_csv('commonFile.csv')

In [64]:
df

   Id       Name        Date      Time
0  61  ['pawan']  2019-05-05  12:04:36

In [101]:
import pandas as pd
import numpy as np  
df=pd.read_csv("StudentDetails\StudentDetails.csv")
df

       Id       Name
0    60.0     pankaj
1     NaN        NaN
2     NaN        NaN
3     NaN        NaN
4   110.0    Deepika
5     NaN        NaN
6   110.0    deepika
7     NaN        NaN
8    34.0       Jitu
9     NaN        NaN
10  121.0  MrsSunita
11    NaN        NaN
12  130.0  MrsSunita

In [123]:
df

       Id       Name
0    60.0     pankaj
4   110.0    Deepika
6   110.0    deepika
8    34.0       Jitu
10  121.0  MrsSunita
12  130.0  MrsSunita

In [136]:
import pandas as pd
import numpy as np
import os,csv
df=pd.read_csv("StudentDetails\StudentDetails.csv")
df.dropna(thresh=1,inplace=True)
import sqlite3
conn = sqlite3.connect("flights.db")
c = conn.cursor()
from datetime import datetime
df.to_sql("daily_flights1", conn, if_exists="replace")
df=pd.read_sql_query("select * from daily_flights1 where Name = 'pankaj' ", conn)
#conn.commit()
#conn.close()
df
import pandas as pd
df.to_csv('myDataFrame.csv')

In [110]:
import pandas as pd
import numpy as np
import os,csv
df=pd.read_csv("StudentDetails\StudentDetails.csv")
df.dropna(thresh=1,inplace=True)
import sqlite3
conn = sqlite3.connect("flights.db")
c = conn.cursor()
from datetime import datetime
df.to_sql("daily_flights1", conn, if_exists="replace")
df=pd.read_sql_query("select * from daily_flights1 where Date Between '2019-04-15' And '2019-04-16' ", conn)
#conn.commit()
#conn.close()
df
import pandas as pd
df.to_csv('myDataFrame.csv')

       Id       Name
0    60.0     pankaj
4   110.0    Deepika
6   110.0    deepika
8    34.0       Jitu
10  121.0  MrsSunita
12  130.0  MrsSunita

In [137]:
import pandas as pd
import numpy as np
import os,csv
df=pd.read_csv("StudentDetails\StudentDetails.csv")
df.dropna(thresh=1,inplace=True)
import sqlite3
conn = sqlite3.connect("flights.db")
c = conn.cursor()
from datetime import datetime
df.to_sql("daily_flights1", conn, if_exists="replace")
df=pd.read_sql_query("select * from daily_flights1 where Id = 61 ", conn)
#conn.commit()
#conn.close()
df
import pandas as pd
df.to_csv('myDataFrame.csv')

In [138]:
import tkinter as tk
from tkinter import ttk
import sys
from tkcalendar import Calendar, DateEntry
root = tk.Tk()
root.title('Ttk Calendar')
ttkcal = Calendar(firstweekday=calendar.SUNDAY)
ttkcal.pack(expand=1, fill='both')

if 'win' not in sys.platform:
    style = ttk.Style()
    style.theme_use('clam')

root.mainloop()

x = ttkcal.selection    
print ( x )

ModuleNotFoundError: No module named 'tkcalendar'

In [142]:
import pandas as pd
import numpy as np
import os,csv
df=pd.read_csv("StudentDetails\StudentDetails.csv")
df.dropna(thresh=1,inplace=True)
Id=110
aa=df.loc[df['Id'] == Id]['Name'].values
aa[0]
type(aa[0])

str

In [143]:
"""
#!/usr/bin/python36
import subprocess as sp
print("content-type:text/html")
print("\n")

print('''<form action="action_page.py">
  Birthday: <input type="date" name="bday">
  <input type="submit">
</form>''')


"""

'\n#!/usr/bin/python36\nimport subprocess as sp\nprint("content-type:text/html")\nprint("\n")\n\nprint(\'\'\'<form action="action_page.py">\n  Birthday: <input type="date" name="bday">\n  <input type="submit">\n</form>\'\'\')\n\n\n'

In [144]:
from datetime import datetime as dt
import dash
import dash_html_components as html
import dash_core_components as dcc

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)
app.layout = html.Div([
    dcc.DatePickerSingle(
        id='my-date-picker-single',
        min_date_allowed=dt(1995, 8, 5),
        max_date_allowed=dt(2017, 9, 19),
        initial_visible_month=dt(2017, 8, 5),
        date=str(dt(2017, 8, 25, 23, 59, 59))
    ),
    html.Div(id='output-container-date-picker-single')
])


@app.callback(
    dash.dependencies.Output('output-container-date-picker-single', 'children'),
    [dash.dependencies.Input('my-date-picker-single', 'date')])
def update_output(date):
    string_prefix = 'You have selected: '
    if date is not None:
        date = dt.strptime(date, '%Y-%m-%d')
        date_string = date.strftime('%B %d, %Y')
        return string_prefix + date_string


if __name__ == '__main__':
    app.run_server(debug=True)

ModuleNotFoundError: No module named 'dash'

In [45]:
import time
import datetime
import sqlite3
import pandas as pd
ts = time.time()      
date = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d')
timeStamp = datetime.datetime.fromtimestamp(ts).strftime('%H:%M:%S')
Hour,Minute,Second=timeStamp.split(":")
fileName=date+"_"+Hour+"-"+Minute+"-"+Second
db_name=fileName+".db"
fileName=fileName+".csv"
day="01"
month="02"
year="2019"
day2="7"
month2="05"
year2="2019"
    
import sqlite3
conn = sqlite3.connect(db_name)
c = conn.cursor()
import pandas as pd
import numpy as np
import os,csv
df=pd.read_csv("commonFile.csv")
df.dropna(thresh=1,inplace=True)
#print(df)  
date1=day+"/"+month+"/"+year
date2=day2+"/"+month2+"/"+year2
ans=df[(df['Date']>=date1) & (df['Date'] <=date2)]    
#df.to_sql("CETdata1", conn, if_exists="replace")
#print(df)    
#df=pd.read_sql_query("select * from CETdata1 where Date Between {} And {} ;".format(date1,date2), conn)
#print(df)
ans.to_csv(fileName)
conn.commit()
conn.close()

In [8]:
import pandas as pd
import numpy as np
import os,csv
df=pd.read_csv("commonFile.csv")
df.dropna(thresh=1,inplace=True)
df

   RollNo   Name        Date      Time
0      61    pks  2019-05-05  21:57:31
1      61  pawan  2019-05-06  08:44:32

In [78]:
import pandas as pd
import numpy as np
import os,csv
import sqlite3
ts = time.time()      
date = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d')
timeStamp = datetime.datetime.fromtimestamp(ts).strftime('%H:%M:%S')
Hour,Minute,Second=timeStamp.split(":")
fileName=date+"_"+Hour+"-"+Minute+"-"+Second
db_name=fileName+".db"
fileName=fileName+".csv"
conn = sqlite3.connect(db_name)
c = conn.cursor()    
df=pd.read_csv("commonFile.csv")
df.dropna(thresh=1,inplace=True)
day="06"
month="06"
year="2019"
print(df)
date1=day+"/"+month+"/"+year
rollNo=61    
df.to_sql("CETdata", conn, if_exists="replace")
print(type(date1)) 
date1=day+" "+month+" "+year
date_time_obj = datetime.datetime.strptime(date1, '%d %m %Y')

#df=pd.read_sql_query("select * from CETdata where Date = RollNo = {} ".format(date1,rollNo), conn)
ans=df.loc[(df['Date']==date_time_obj) ]
print(ans)

   RollNo   Name        Date      Time
0      61    pks  2019-05-05  21:57:31
1      61  pawan  2019-05-06  08:44:32
2      61  pawan  2019-05-06  09:36:34
<class 'str'>
   RollNo   Name        Date      Time
0      61    pks  2019-05-05  21:57:31
1      61  pawan  2019-05-06  08:44:32
2      61  pawan  2019-05-06  09:36:34

In [95]:
print(type(df['Date'][0]))
day="5"
month="6"
year="2019"
date1=day+" "+month+" "+year
date_time_obj = datetime.datetime.strptime(date1, '%d %m %Y')
date_time_obj

<class 'str'>

datetime.datetime(2019, 6, 5, 0, 0)

In [106]:
import datetime as dt  
import pytz

date_time_str = '18 06 2019'  
date_time_obj = dt.datetime.strptime(date_time_str, '%d %m %Y')

timezone = pytz.timezone('America/New_York')  
timezone_date_time_obj = timezone.localize(date_time_obj)
print(date_time_obj.date())
print(timezone_date_time_obj)  
print(timezone_date_time_obj.tzinfo)

2019-06-18
2019-06-18 00:00:00-04:00
America/New_York

In [108]:
import time
import datetime
ts = time.time()
date = datetime.datetime.fromtimestamp(ts)
date = datetime.datetime.fromtimestamp(ts)
print(date.date())

2019-05-06

In [100]:
#print(type(df['Date'][0]))
day="5"
month="6"
year="2019"
date1=day+" "+month+" "+year
date_time_obj = datetime.datetime.strptime(date1, '%d %m %Y')
print(date_time_obj.date())

2019-06-05

In [109]:
import pandas as pd
df=pd.read_csv('StudentDetails/StudentDetails.csv')
df

   RollNo. Name Branch
0       61  pks    CSE

In [111]:
import pandas as pd
import numpy as np
import os,csv
import sqlite3
ts = time.time()      
date = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d')
timeStamp = datetime.datetime.fromtimestamp(ts).strftime('%H:%M:%S')
Hour,Minute,Second=timeStamp.split(":")
fileName=date+"_"+Hour+"-"+Minute+"-"+Second
db_name=fileName+".db"
fileName=fileName+".csv"
conn = sqlite3.connect(db_name)
c = conn.cursor()    
df=pd.read_csv("commonFile.csv")
df.dropna(thresh=1,inplace=True)

df.to_sql("CETdata", conn, if_exists="replace")
df=pd.read_sql_query("select count(*) from CETdata group by Subject;", conn)
df1=pd.read_sql_query("select count(*) from CETdata group by RollNo where subject;", conn)
#df1=pd.read_sql_query("select ")
print(df)
print(df1)
conn.commit()
conn.close()

   count(*)
0         5
1         2
2         1
3         3
   count(*)
0        11

In [5]:
import pandas as pd
import numpy as np
import os,csv
import sqlite3,time,datetime
ts = time.time()      
date = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d')
timeStamp = datetime.datetime.fromtimestamp(ts).strftime('%H:%M:%S')
Hour,Minute,Second=timeStamp.split(":")
fileName=date+"_"+Hour+"-"+Minute+"-"+Second
db_name=fileName+".db"
fileName=fileName+".csv"
conn = sqlite3.connect(db_name)
c = conn.cursor()    
df=pd.read_csv("commonFile.csv")
df.dropna(thresh=1,inplace=True)
df.to_sql("CETdata", conn, if_exists="replace")
df=pd.read_sql_query("select Distinct Subject,Date  from CETdata ;", conn)

print(df)

conn.commit()
conn.close()

              Subject        Date
0  Distributed System  06/05/2019
1                  ip  07/05/2019
2                  mc  08/05/2019
3                 dsa  13/05/2019
4  Distributed System  10/05/2019
5  Distributed System  11/05/2019
6                  mc  12/05/2019
7  Distributed System  14/05/2019
8                  mc  16/05/2019
9    Image Processing  07/05/2019